.content {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.body-inicial{
  border-top: 3px solid #e2e8f0;
  padding-top: 10px;
  padding-left: 15%;
  background-color: #f1f5f9;

}

.body-abrir{
  border-top: 3px solid #e2e8f0;
  padding-top: 10px;
  padding-left: 17%;
  transition: padding-left 0.18s ease-in-out;
  background-color: #f1f5f9;
}

.body-cerrar{
  border-top: 3px solid #e2e8f0;
  padding-top: 10px;
  padding-left: 2%;
  transition: padding-left 0.185s ease-in-out;
  background-color: #f1f5f9;
}
