.content {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.body-inicial{
  margin-left: 15%;
}

.body-abrir{
  margin-left: 17%;
  transition: margin-left 0.18s ease-in-out;
}

.body-cerrar{
  margin-left: 2%;
  transition: margin-left 0.185s ease-in-out;
}
