.fondo{
  flex-direction: column;
  flex: 1 1 auto;
  background-color: rgb(226, 232, 240); /* Color de fondo cuando el enlace está activo */
 /* Color del texto cuando el enlace está activo */
  min-height: calc(100vh - 64px);
  padding: 40px;
}

.active-link {
  background: #d7e3ff !important;
  color: white !important;
  font-weight: bold;
}

/* Estilo para cuando el enlace está activo */
.active-link {
  background-color: #1976D2; /* Color de fondo cuando el enlace está activo */
  color: white; /* Color del texto cuando el enlace está activo */
}

