.dentroLayout{
  display: none;
}

.sidenav-container {
  height: 100%;
  display: flex;

}


.marginLink{
  margin-top: 8vh;
}

mat-sidenav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  overflow-y: auto;
  z-index: 100;
  background-color: #fcf4fc;
}

.main-content {
  margin-left: 0px;
  padding: 16px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: white;
}

.quitarLinkNormal {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quitarLinkIcono {
  display: flex;
  /*padding: 12px 100px;*/
  padding-top: 10%;
  padding-bottom: 10%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quitarLinkIconoTexto {
  display: block;
  /*padding: 12px 16px;*/
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-sidenav a:hover {
  background-color: #f0f0f0;
}

mat-sidenav a.active-link {
  font-weight: bold;
  background-color: #e0e0e0;
}
.centrado{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
app-universal-icon{
  width: 100%;
}

.centradoSinMargen{
  display: none;
}
.iconoMenu{
  font-size: 20px;
  cursor: pointer;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  mat-sidenav {
    width: 80%;
  }
  .marginLink{
    margin-top: 6.5vh;
  }
  .main-content {
    margin-left: 0;
  }
  .dentroLayout{
    width: 10%;
    display: flex;
    margin-top: 5%;
    margin-left: 3%;
  }
  .centradoSinMargen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.7%;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    /*padding-bottom: -200px;*/
    margin-bottom: -5vh;
  }

  .quitarLinkIcono {
    padding-top: 2.5%;
    padding-bottom: 2.5%;

  }
}
