<app-template [dataSource]="tableData" [attributeData]="attributeData">
  <ng-content links>
    <a [routerLink]="['/']" class="subrayado">MarketPlace</a>
    <a class="separator"> > </a>
    <a [routerLink]="['/descriptions']" class="subrayado">Descripciones</a>
    <a class="separator"> > </a>
    <a [routerLink]="['/descriptions/progressspinner'] " class="subrayado">Progress Spinner</a>
  </ng-content>
  <ng-content title>
    <span>Progress Spinner</span>
  </ng-content>
  <ng-content topText><p>Angular Material buttons are native <strong>button</strong> or a elements enhanced with Material Design styling and ink ripples.
    <br>
    Exported as: <strong>Button</strong>
  </p>
  </ng-content>
  <ng-content titleTexts>
    <h2>Module</h2>
  </ng-content>
  <ng-content subtitleTexts>
    <pre><code class="language-html"><span class="hljs-tag"><span class="hljs-name">IMPORT</span> <span class="hljs-attr">ButtonComponent </span><span class="hljs-name">from </span> '../../../components/atoms/button/button.component';</span></code></pre>
  </ng-content>
  <ng-content titleTable1>
    <H2>Properties</H2>
  </ng-content>
  <ng-content titleTable2>
    <H2>Attributes</H2>
  </ng-content>
  <ng-content cardTitle><strong>Example</strong></ng-content>
  <ng-content cardSubtitle><strong>Progress Spinner</strong></ng-content>
  <ng-content cardContent><app-progress-spinner></app-progress-spinner></ng-content>

</app-template>
