.login-container {
  border: #888888 1px solid;
  border-radius: 28px; /* Puedes ajustar el número */
  margin-left: 55%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 2%;
  padding-right: 2%;
  display: grid;
  place-items: center;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.9); /* 50% de opacidad */
}
.login-container p {
  color: #555;
  margin-bottom: 30px;
}

.login-container .recovery {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 20px;
  cursor: pointer;
  margin-left: 50%;
}


.login-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #000;
}

.fondo{
  margin: 3px;
  border-radius: 28px; /* Puedes ajustar el número */
  padding-top: 1px;
  padding-bottom: 1px;
}

.BotonGrande{
  width: 80%;
  max-width: 300px;
  padding: 15px 0;
  font-size: 1.1rem;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 100%; /* espacio entre iconos */
  margin-top: -5px;
}

app-universal-icon {
  font-size: 2rem; /* agranda los íconos */
  color: #333;
  cursor: pointer;
  transition: transform 0.2s;
}

app-universal-icon:hover {
  transform: scale(1.2);
  color: #5f4b8b;
}

@media (max-width: 1087px) {
  .login-container {
    margin-left: 19%;
    margin-right: 19%;
    margin-top: 1px;
    padding-top: 0px;
    padding-bottom: 40px;
  }
}
@media (max-width: 713px) {
  .login-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;
  width: 100%;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid #ccc;
}

.separator:not(:empty)::before {
  margin-right: 0.75em;
}

.separator:not(:empty)::after {
  margin-left: 0.75em;
}

