/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'sans-serif', 'Segoe UI', sans-serif;
}
.subrayado {
  text-decoration: none;
  color: inherit;
  margin: 0 5px;
} /* Usado en los breadcrumbs */



.botonPequeño{
  width: 8%;
}

.IconoMediano{
  display: flex;
  gap: 7vh;
}
.BotonGrande{
  width: 80%;
  max-width: 300px;
  padding: 15px 0;
  font-size: 1.1rem;
}
.IconoMediano app-universal-icon{
  font-size: 150%;
  color: #000;
}

.ColorFondoMorado{
  background-color: #fcf4fc;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -20px;
  padding-left: 16px;
  padding-top: 30px;
  padding-bottom: 5px;
}

.Fijo{
  position: fixed;
}
